
/* Pantallas grandes */
@media screen and (min-width: 981px) {



}





/* Pantallas medianas */
@media screen and (min-width: 481px) and (max-width: 980px) {





}




/* Pantallas pequeñas */
@media screen and (max-width: 480px) {



}




/* Estilo aplicado a todos los tamaños */
* {

	box-sizing: border-box;
}


header {

	text-align: center;
	/*background-color: green; */
}



footer {

		text-align: center;
}