
/* Todas las pantallas */
* {
	box-sizing: border-box;
}

/* Cabecera */
	#headerItems{
      max-width: 1040px;
      margin: 0 auto;

    }

    	#headerItems>a{      
	      
	      font-family: 'Source Serif Pro', serif;
	      text-decoration: none;
   		}

	    #headerItems>div{      
		      
		      font-family: 'Source Serif Pro', serif;
		      text-decoration: none;
	    }

		    #headerItems>a>div>h1 {


			  }

			    #headerItems>div>h3 {

		          text-align: left; 	/* Alineamos el texto a la izqd */

			    }


/* Cuerpo principal de la pagina */
body {
	
	color: #000000;
	background-color: #fafafa;
	border-left: solid #ffffff; 
  	border-right: solid #ffffff;
  	border-bottom: solid #ffffff; 

	width: 100%;
  	font-size: 14px; /* Con esto se colocan en 2 por fila */
  	margin: 0 auto ; /* Margen arriba/abajo 0 y decho/izqd auto */
  	padding: 0; 
  	font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

	/* Cabecera */
	body>header{

	  color: #000000;
	  background-color: #ffffff;

	}


/* Todos los canvas */
canvas {
	
	border: 2px solid #BABDB6FF;
}

h2 {

	text-align: center;
}

/* Zona donde esta el panel grande de juego */
#zonaJuego {

	text-align: center;
}

.zonaPieza{
	transition:0s 0.2s;
	
}

.zonaPieza:active{

	border-color: aquamarine;
	box-shadow: 5px 5px 20px 10px rgba(48,170,179,0.3);
	transition:0s;
}

#panelJuego {

	/*display: flex;
	align-items: center; */
}

/* Zona donde estan los canvas de las piezas */
#canvasPiezas {
	
	display: flex;
	/* justify-content: space-around;  /* El espacio que sobra se reparte entre todos */
	justify-content: center; 		/* Elementos en el centro */
	align-items: flex-start;

}
	
	#canvasPiezas >canvas {

		margin-left: 2%;

	}


/* Ventana modal tabla puntuaciones */

	/* The Modal (background) */
	.modal {

	  display: none; /* Oculto por defecto hasta que se llame a la funcion */
	  position: fixed; /* Que no se mueva del sitio */
	  z-index: 1; /* Sit on top */
	  padding-top: 100px; /* Localizacion de la caja */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Activamos el scroll*/
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Negro con opacidad */
	}

		/* Modal Contenido*/
		.modal-content {
		  background-color: #fefefe;
		  margin: auto;
		  padding: 20px;
		  border: 1px solid #888;
		  width: 80%;
		  text-align: center;
		}
			hr {
				width: 50%;
			}

			/* Boton de jugar */
			.jugar {
			  color: #aaaaaa;
			  font-size: 28px;
			  font-weight: bold;
			}

			.jugar:hover,
			.jugar:focus {
			  color: #07D;
			  text-decoration: none;
			  cursor: pointer;
			}


/* Ventana modal tabla puntuaciones */

	/* The Modal (background) */
	.modal, .modal2 {

	  display: none; /* Oculto por defecto hasta que se llame a la funcion */
	  position: fixed; /* Que no se mueva del sitio */
	  z-index: 1; /* Sit on top */
	  padding-top: 100px; /* Localizacion de la caja */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Activamos el scroll*/
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Negro con opacidad */
	}

		/* Modal Contenido*/
		.modal-content {
		  background-color: #fefefe;
		  margin: auto;
		  padding: 20px;
		  border: 1px solid #888;
		  width: 80%;
		  text-align: center;
		}
			hr {
				width: 50%;
			}

			/* Boton de jugar */
			.jugar {
			  color: #aaaaaa;
			  font-size: 28px;
			  font-weight: bold;
			}

			.jugar:hover,
			.jugar:focus {
			  color: #07D;
			  text-decoration: none;
			  cursor: pointer;
			}

		/* Boton de cerrar */
		.close {
		  color: #aaaaaa;
		  float: right;
		  font-size: 28px;
		  font-weight: bold;
		}

		.close:hover,
		.close:focus {
		  color: #000;
		  text-decoration: none;
		  cursor: pointer;
		}

		/* Mensaje de error */
		.error{
  			font-weight: 400;
		}
		.error>span{
  			color: red;
		}			

/* Pie de pagina */
footer {

	text-align: center;
	margin-top: 2%;
	width: 100%;
	height: 5%;
	bottom: 0; 
}

/* TODOS LOS ENLACES DE LA PAGINA*/
 a {
 	cursor: pointer;  						/* Para que cambie el cursor del raton */
 	text-decoration: none;  
 	color: #438ec4;				/* Quitamos el subrayado */
 }

a:visited{
	color: #ed9449;
}

	/* Cabecera */
#headerItems{
    display: flex;
    flex-direction: row;
    padding: .8em 0;
    text-align: center;
    align-content: center;
}

#headerItems>a{      
	margin-left: 0%;
	display: flex;
	align-items: center;
}

#headerItems>div{      
	flex: 1 9999 0%;
	margin-left: 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
	      
}

#headerItems>a>div>h1 {

	font-size: 21px;
	font-weight: 700;
	margin: 0 .2em;
}

	    #headerItems>div>h3 {

	      font-size: 19px;
          font-weight: 400;
          margin-left: 0;

	    }

.titulo {

			border-right: 1px solid #2E3436FF;
			padding-right: 10px;
	}

/* Pantallas grandes */
@media screen and (min-width: 981px) {


}

@media screen and (max-width: 981px) {

	#headerItems{

      display: flex;
      flex-direction: row;
      text-align: center;
      align-content: center;
    }

    #headerItems>div>h3 {

	     

	}


}